<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp.android.smartirrigation">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PondActivity"
            android:parentActivityName=".MainActivity"
            android:label="Pond info"></activity>
        <activity android:name=".FieldActivity"
            android:parentActivityName=".MainActivity"
            android:label="Field info"/>
        <activity android:name=".LoginActivity"
            android:label="Login"/>
        <activity android:name=".ProfileActivity"
            android:label="Set up your profile"/>
        <activity android:name=".VerifyPhoneActivity"
            android:label="Verify details"/>
        <activity android:name=".MainActivity"
            android:label="Dashboard"/>
        <activity android:name=".PageViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>